$primary-normal: #B6BBCC;
$primary-light: #E0E4EF;
$primary-dark: #222B61;

$secondary-normal: #858DAF;
$secondary-light: #CED2E0;
$secondary-dark: #5B6592;

$white-normal: #FEFBFF;
$white-light: #FFFFFF;
$white-dark: #EDEAEF;

$pink-normal:#B74168;
$pink-light: #FFA1A6;
$pink-dark: #7A184B;
