* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  display: flex;
  height: 368px;
  width: 100%;
  justify-content: space-between;
  color: #EDEAEF;
  background-color: #858DAF;
}

.me {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0% 0%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0% 0%);
  max-width: 50%;
  height: auto;
}

.informations {
  background-color: #858DAF;
  display: flex;
  width: 50%;
  padding: 30px;
  flex-direction: column;
}

@media (max-width: 2000px) {
  .name {
    color: #FFFFFF;
    font-size: 48px;
  }
  .ocupation {
    font-size: 28px;
  }
  .email {
    margin-bottom: 5px;
    font-size: 24px;
  }
  .whatsapp {
    font-size: 24px;
  }
}
@media (max-width: 920px) {
  .name {
    color: #FFFFFF;
    font-size: 38px;
  }
  .ocupation {
    font-size: 24px;
  }
  .email {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .whatsapp {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .name {
    color: #FFFFFF;
    font-size: 24px;
  }
  .ocupation {
    font-size: 18px;
  }
  .email {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .whatsapp {
    font-size: 12px;
  }
}
.contact {
  margin-top: 12%;
  flex-direction: column;
  display: flex;
}

ion-icon {
  font-size: 31px;
}

.section-title {
  width: 100%;
  padding: 10px;
}

.top-section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.title {
  font-size: 32px;
  margin-left: 10px;
}

.div-icon {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 1px gray;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 2px;
}

.section-history {
  width: 100%;
  padding: 20px;
  height: 70vh;
}

.school {
  display: flex;
  margin: 10px;
}

.align-information {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.second {
  justify-content: end;
}

.align-circle {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 25vh;
  padding-right: 30px;
}

.school-circle {
  background-color: #222B61;
  width: 68px;
  height: 68px;
  justify-content: center;
  align-items: center;
  display: flex;
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
}

.text-circle {
  color: #FFFFFF;
}

.school-information {
  background-color: #EDEAEF;
  width: 30%;
  height: 156px;
  padding: 10px;
  box-shadow: 0px 2px 2px gray;
}

.border-left {
  border-left-color: #B74168;
  border-left-width: 10px;
  border-left-style: solid;
}

.border-right {
  border-right-color: #B74168;
  border-right-width: 10px;
  border-right-style: solid;
}

.line {
  width: 19%;
  border-bottom: 1px solid #000000;
}

body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #FFFFFF;
}

button {
  cursor: pointer;
  font-family: "Sora", sans-serif;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */